body {
    background-color:bisque;
}

.navbar * {
    display: flexbox;
    text-decoration: none;
    color: black;
    background-color:cadetblue;
    margin: auto
}

.title {
    text-align: center;
}

