body {
    background-color:bisque;
    font-family:Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.navbar {
    background-color:rgb(149, 229, 247);
    display: flex;
    justify-content:flex-start;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 0;
    font-size: large;
}

.title {
    text-align: left;
    background-color:rgb(235, 241, 165);
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

main {
}

main h1 {
    text-align: center;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#projects-container div {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    justify-content: center;
}
