body {
    background-color: lightgoldenrodyellow;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 0;
}

.navbar {
    background-color: rgb(115, 203, 103);
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 0;
    font-size: large;
}

.title-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(220, 94, 92);
    color: black;
    font-family: 'Courier Prime', monospace;;
    font-size: large;
    margin: 0;
    padding: 5px 0 5px 20px;
    gap: 1rem;
}

.title-bar h1 {
    margin: 0;
}

#logo {
    height: 60px;
    padding-left: 1px;
    align-self: ;
}

#hero {
    display: flex;
    color: white;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.071),rgba(0, 0, 0, 0.929)),url(../images/toad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

#projects-intro {
    display: flex;
    justify-content: flex-start;
    height: 50vh;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

#projects-container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid;
}

#about {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
}